@font-face {
  font-family: "mikhak";
  src: url("../public/fonts/Mikhak-Medium.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "mikhak" !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
